*.cache/
__pycache__/
*.c
*.cpython*
build/
_build/
*~
.DS_Store
*.log
.coverage
.test.dat
notebooks/.ipynb_checkpoints/
notebooks/.temp.*
.vscode/
docs/assets/static_notebooks/.ipynb_checkpoints/
docs/assets/static_notebooks/.temp.*
dist/
s2fft.egg-info/
resources/
.matrices/
s2fft.code-workspace
.tox
s2fft/_version.py

#c++/cuda/cmake
venv
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps