*.cache/
__pycache__/
*.c
*.cpython*
build/
_build/
*~
.DS_Store
logs/*.log
.coverage
.test.dat
notebooks/.ipynb_checkpoints/
notebooks/.temp.*
.vscode/
docs/assets/static_notebooks/.ipynb_checkpoints/
docs/assets/static_notebooks/.temp.*
dist/
latentwaves.egg-info/
