graft s2fft
graft tests
graft requirements
graft docs

include .pip_readme.rst
include README.rst
include pytest.ini
include LICENCE.txt
include s2fft/default-logging-config.yaml

exclude .coveragerc
exclude *.log
recursive-exclude docs/_build *
recursive-exclude notebooks *

global-exclude *.py[cod] __pycache__ *.so *.dylib .ipynb_checkpoints/** *~