graft s2fft
graft tests
graft docs

include README.md
include LICENCE.txt

exclude .coveragerc
exclude *.log
recursive-exclude docs/_build *
recursive-exclude notebooks *

global-exclude *.py[cod] __pycache__ *.so *.dylib .ipynb_checkpoints/** *~
