# Packages required for core functionality 
numpy>=1.20
colorlog
pyyaml
jax>=0.3.13
jaxlib

# Remove when subpackage functionality is fixed.
torch 

# Legacy codes for which to provide JAX frontend support.
pyssht
healpy
ducc0