name: Docs

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docs.yml
      - pyproject.toml
      - s2fft/**
      - docs/**
      - notebooks/**
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v5.0.0

    - name: Set up Python 
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
        cache: pip
        cache-dependency-path: pyproject.toml
    
    - name: Install dependencies
      run: |
        sudo apt install pandoc
        python -m pip install --upgrade pip
        pip install .[docs]
  
    - name: Build documentation
      run: cd docs && make html

    - name: Upload built docs as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/_build/html

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/deploy-pages@v4
